* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f6fb;
    color: #222;
}

header {
    background: #4f46e5;
    color: white;
    padding: 20px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.btn,
button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    cursor: pointer;
}

header .btn {
    background: white;
    color: #4f46e5;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: white;
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero p {
    margin-bottom: 30px;
    font-size: 18px;
}

.features {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 50px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 30px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ddd;
}

.card h3 {
    margin-bottom: 15px;
}

.container {
    width: 85%;
    margin: 40px auto;
}

.form-container {
    width: 400px;
    margin: 60px auto;
    background: white;
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0 3px 15px #ddd;
}

.form-container h1 {
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input,
textarea,
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

textarea {
    min-height: 100px;
}

.job-card,
.payment-card,
.tracking,
.portfolio-card {
    background: white;
    padding: 25px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 3px 10px #ddd;
}

.job-card p {
    margin: 10px 0;
}

.profile {
    width: 70%;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 10px;
}

.profile h2 {
    margin: 25px 0 15px;
}

.skill {
    display: inline-block;
    background: #e0e7ff;
    color: #3730a3;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 20px;
}

.portfolio-card {
    box-shadow: none;
    border: 1px solid #ddd;
}

.chat {
    width: 600px;
    margin: 50px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.message {
    padding: 12px;
    margin: 15px 0;
    border-radius: 8px;
}

.client {
    background: #e0e7ff;
}

.freelancer {
    background: #dcfce7;
}

.progress {
    width: 100%;
    height: 25px;
    background: #ddd;
    border-radius: 20px;
    margin: 20px 0;
}

.progress-bar {
    width: 60%;
    height: 100%;
    background: #4f46e5;
    color: white;
    text-align: center;
    border-radius: 20px;
}

footer {
    text-align: center;
    padding: 25px;
    background: #222;
    color: white;
}